<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home | Focus Fairy{% endblock %}

{% block content %}

<script src="{{ url_for('static', filename='pureknob.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

<div class="container-fluid mt-4">
  <div class="row">

    <!-- LEFT HALF -->
    <div class="col-md-6">
      <div class="row">

        <!-- Top Left -->
        <div class="col-12 mb-3">
          <div class="screen-half">
            <h1>Productivity</h1>
            <div id="prod_dial" class="centered"></div>
          </div>
        </div>

        <!-- Bottom Left -->
        <div class="col-12">
          <div class="screen-half">
            <h1>Hydration</h1>
            <div id="hydration_dial" class="centered"></div>
          </div>
        </div>

      </div>
    </div>

    <!-- RIGHT HALF -->
    <div class="col-md-6">
      <div class="row">

        <!-- Top Right -->
        <div class="col-12 mb-3">
          <div class="screen-half">
            <h1>Focus</h1>
            <div id="focus_dial" class="centered"></div>
          </div>
        </div>

        <!-- Bottom Right -->
        <div class="col-12">
          <div class="screen-half">
            <h1>Posture</h1>
            <div id="posture_dial" class="centered"></div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <br>

  <div class="row">
    <label for="logging-box">Logs</label>
    <textarea id="logging-box" class="logging-box" rows="10" disabled></textarea>
  </div>
  <br>
</div>

<!-- SETTINGS MODAL -->
<div class="modal fade" id="settingsModal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <div class="row">

          <!-- LEFT SIDE -->
          <div class="col-md-6">
            <h4>Settings</h4>

            <form id="settings_form">

              <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       id="systemToggle"
                       name="system_enabled">
                <label class="form-check-label">System Enabled</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       id="productivityToggle"
                       name="productivity_enabled">
                <label class="form-check-label">Track Productivity</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       id="focusToggle"
                       name="focus_enabled">
                <label class="form-check-label">Track Focus</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       id="hydrationToggle"
                       name="hydration_enabled">
                <label class="form-check-label">Track Hydration</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input"
                       type="checkbox"
                       id="postureToggle"
                       name="posture_enabled">
                <label class="form-check-label">Track Posture</label>
              </div>

              <div class="mb-3 mt-3">
                <label class="form-label">Voice</label>
                <select class="form-select"
                        name="voice_selection"
                        id="voice_selection">
                  <option value="voice1">Voice 1</option>
                  <option value="voice2">Voice 2</option>
                  <option value="voice3">Voice 3</option>
                </select>
              </div>

              <button type="button"
                      id="settings_button"
                      class="btn btn-primary mt-3">
                Save Settings
              </button>

            </form>
          </div>

          <!-- RIGHT SIDE -->
          <div class="col-md-6">
            <h4>Profile</h4>

            <form id="profile_form">

              <div class="mb-3">
                <label>Name</label>
                <input type="text"
                       class="form-control"
                       name="name"
                       id="name">
              </div>

              <div class="mb-3">
                <label>Job Title</label>
                <input type="text"
                       class="form-control"
                       name="job_title"
                       id="job_title">
              </div>

              <div class="mb-3">
                <label>Project Description</label>
                <input type="text"
                       class="form-control"
                       name="project_desc"
                       id="project_desc">
              </div>

              <button type="button"
                      id="profile_button"
                      class="btn btn-primary">
                Save Profile
              </button>

            </form>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}