<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home | Focus Fairy{% endblock %}

{% block content %}


  <!-- The content of the page -->
    <div class="container-fluid mt-4">
      <div class="row">

        <!-- Left side -->
        <div class="col-md-6">
          <div class="screen-half">
            <h1>Statistics</h1>

            <!-- Average Focus -->
            <div class="form-check form-switch">
                <label for="avg_focus">Average Focus</label>
                <input type="number" class="form-control" id="avg_focus" placeholder="Average Focus" disabled>
            </div>
            <br>

            <!-- Average Focus -->
            <div class="form-check form-switch">
                <label for="avg_posture">Average Posture</label>
                <input type="number" class="form-control" id="avg_posture" placeholder="Average Posture" disabled>
            </div>
          </div>
        </div>

        <!-- Right side -->
        <div class="col-md-6">
          <div class="screen-half">
            <h1>Work Score</h1>
          </div>
        </div>
      </div>
    </div>

{% endblock %}